accelerate>=0.25.0
beartype
classifier-free-guidance-pytorch>=0.4.2
einops>=0.7.0
ema-pytorch
pytorch-warmup
torch>=2.0
torch_geometric
torchtyping
x-transformers>=1.26.0
tqdm
trimesh
vector-quantize-pytorch>=1.12.0
gateloop-transformer>=0.1.1
local-attention>=1.9.0
